For the fast  version of the program (Predict_ECs.py)  please verify the following python dependencies are installed:
 sys
 json
 Bio
 datetime
 platform
 string
 argparse
 treelib
 pickle
 ahocorasick
 import Bio
 from Bio import SeqIO


For the extended version of the program(SPs.py) please verify the following python dependencies are installed
Bio 
argparse
collections
datetime
functools
json
numpy
operator
pandas
pdb
platform
re
string
sys
toolz
treelib



 
